In [1]:
import yfinance as yf

In [2]:
ticker = yf.Ticker("AAPL")

In [3]:
ticker_high = ticker.history(period="1mo")["High"]

In [11]:
ticker_high = ticker.history(period="1mo")

In [18]:
ticker_high

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-12-30 00:00:00-05:00,272.809998,274.079987,272.279999,273.079987,22139600,0.0,0.0
2025-12-31 00:00:00-05:00,273.059998,273.679993,271.750000,271.859985,27293600,0.0,0.0
2026-01-02 00:00:00-05:00,272.260010,277.839996,269.000000,271.010010,37838100,0.0,0.0
2026-01-05 00:00:00-05:00,270.640015,271.510010,266.140015,267.260010,45647200,0.0,0.0
2026-01-06 00:00:00-05:00,267.000000,267.549988,262.119995,262.359985,52352100,0.0,0.0
2026-01-07 00:00:00-05:00,263.200012,263.679993,259.809998,260.329987,48309800,0.0,0.0
2026-01-08 00:00:00-05:00,257.019989,259.290009,255.699997,259.040009,50419300,0.0,0.0
2026-01-09 00:00:00-05:00,259.079987,260.209991,256.220001,259.369995,39997000,0.0,0.0
2026-01-12 00:00:00-05:00,259.160004,261.299988,256.799988,260.250000,45263800,0.0,0.0
2026-01-13 00:00:00-05:00,258.720001,261.809998,258.390015,261.049988,45730800,0.0,0.0
2026-01-14 00:00:00-05:00,259.489990,261.820007,256.709991,259.959991,40019400,0.0,0.0
2026-01-15 00:00:00-05:00,260.649994,261.040009,257.049988,258.209991,39388600,0.0,0.0
2026-01-16 00:00:00-05:00,257.899994,258.899994,254.929993,255.529999,72142800,0.0,0.0
2026-01-20 00:00:00-05:00,252.729996,254.789993,243.419998,246.699997,80267500,0.0,0.0
2026-01-21 00:00:00-05:00,248.699997,251.559998,245.179993,247.649994,54641700,0.0,0.0
2026-01-22 00:00:00-05:00,249.199997,251.000000,248.149994,248.350006,39708300,0.0,0.0
2026-01-23 00:00:00-05:00,247.320007,249.410004,244.679993,248.039993,41689000,0.0,0.0
2026-01-26 00:00:00-05:00,251.479996,256.559998,249.800003,255.410004,55969200,0.0,0.0
2026-01-27 00:00:00-05:00,259.170013,261.950012,258.209991,258.269989,49648300,0.0,0.0
2026-01-28 00:00:00-05:00,257.649994,258.859985,254.509995,256.440002,41288000,0.0,0.0
2026-01-29 00:00:00-05:00,258.000000,259.649994,254.410004,258.279999,66621700,0.0,0.0

In [23]:
ticker_high["Open"]

Date
2025-12-30 00:00:00-05:00    272.809998
2025-12-31 00:00:00-05:00    273.059998
2026-01-02 00:00:00-05:00    272.260010
2026-01-05 00:00:00-05:00    270.640015
2026-01-06 00:00:00-05:00    267.000000
2026-01-07 00:00:00-05:00    263.200012
2026-01-08 00:00:00-05:00    257.019989
2026-01-09 00:00:00-05:00    259.079987
2026-01-12 00:00:00-05:00    259.160004
2026-01-13 00:00:00-05:00    258.720001
2026-01-14 00:00:00-05:00    259.489990
2026-01-15 00:00:00-05:00    260.649994
2026-01-16 00:00:00-05:00    257.899994
2026-01-20 00:00:00-05:00    252.729996
2026-01-21 00:00:00-05:00    248.699997
2026-01-22 00:00:00-05:00    249.199997
2026-01-23 00:00:00-05:00    247.320007
2026-01-26 00:00:00-05:00    251.479996
2026-01-27 00:00:00-05:00    259.170013
2026-01-28 00:00:00-05:00    257.649994
2026-01-29 00:00:00-05:00    258.000000
Name: Open, dtype: float64

In [24]:
dl = yf.download("AAPL", period="1mo", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [35]:
class Ticker_Day:
    def __init__(self, symbol, high, low, open, close, volume, date = []):
        self.symbol = symbol
        self.high = high
        self.low = low
        self.open = open
        self.close = close
        self.volume = volume
        self.date = date
ticker_days = []   
for index, row in dl.iterrows():
    ticker_day = Ticker_Day(
        symbol="AAPL",
        high=row['High'],
        low=row['Low'],
        open=row['Open'],
        close=row['Close'],
        volume=row['Volume'],
        date=index
    )
    ticker_days.append(ticker_day)

In [65]:
import pandas as pd
import numpy as np
import yfinance as yf

class Ticker_Day:
    def __init__(self, data, avail_dates=None):
        self.data = data[['Open', 'High', 'Low', 'Close', 'Volume']]
        self.avail_dates = avail_dates


class YFFetcher:
    def __init__(self):
        pass

    def fetch_data(ticker, start_date, end_date):
        data = yf.download(ticker, start=start_date, end=end_date)
        if data is None or data.empty:
            return None
        data.columns = data.columns.get_level_values('Price')
        avail_dates = data.index.tolist()
        ticker_day = Ticker_Day(data, avail_dates)
        return ticker_day

In [66]:
test = YFFetcher.fetch_data(ticker="AAPL", start_date="2023-01-01", end_date="2023-06-01")

[*********************100%***********************]  1 of 1 completed

In [1]:
import numpy as np
import yfinance as yf

class Ticker_Day:
    def __init__(self, symbol, date = [], high = [], low = [], open = [], close = [], volume = []):
        self.symbol = symbol
        self.high = high
        self.low = low
        self.open = open
        self.close = close
        self.volume = volume
        self.date = date
    

class YFFetcher:
    def __init__(self):
        self.dates_avail = None

    def fetch_data(ticker, start_date, end_date):
        data = yf.download(ticker, start=start_date, end=end_date)
        if data is None or data.empty:
            return None
        ticker_days = Ticker_Day(symbol=ticker)
        ticker_days.date = data.index.tolist()
        ticker_days.high = data['High'].tolist()
        ticker_days.low = data['Low'].tolist()
        ticker_days.open = data['Open'].tolist()
        ticker_days.close = data['Close'].tolist()
        ticker_days.volume = data['Volume'].tolist()
        return ticker_days

In [2]:
YFFetcher.fetch_data(ticker="AAPL", start_date="2023-01-01", end_date="2023-06-01")

[*********************100%***********************]  1 of 1 completed

AttributeError: 'DataFrame' object has no attribute 'tolist'